<!-- Form for user to sign up. -->
<%= form_for(@user) do |f| %>
    <%= f.label :email %>
    <%= f.text_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <div class="actions">
      <%= f.submit "Submit", :class => "button tiny" %>
    </div>
<% end %>
